DB_USER=datalakes
DB_PASSWORD=password
DB_HOST=database
DB_PORT=5432
DB_DATABASE=dev
DATABASE_URL=postgres://datalakes:password@localhost:5432/dev
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
